<html>
<head>
    <title>Techfest Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="shortcut icon" href="assets/techfestdemologo.png" type="image/x-icon">
    <link rel="icon" href="assets/techfestdemologo.png" type="image/x-icon">
</head>
<body>
    <div id="app">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a href="" class="uk-navbar-item uk-logo">Techfest Demo</a>
            </div>
        </nav>
        <ul class="uk-child-width-expand" uk-tab>
            <li><a href="#">Encrypt</a></li>
            <li><a href="#">Decrypt</a></li>
            <li><a href="#">Pre-signed URL</a></li>
            <li><a href="#">Signed URL</a></li>
            <li><a href="#">Signed Cookie</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>
                <div class="uk-margin">
                    <div class="uk-container uk-container-small">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Filename</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Filename" v-model="putfile">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">File Contents</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Data" v-model="putobjectdata">
                            </div>
                        </div>
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-checkbox" type="checkbox" v-model="enableEncryption"> Encrypt</label>
                        </div>
                        <button class="uk-button uk-button-primary uk-button-large" @click="uploadEncryptedFile">Upload File</button>
                        <div class="uk-alert-danger" uk-alert v-if="encrypterrormessage">
                            <p>{{encrypterrormessage}}</p>
                        </div>
                        <div class="uk-alert-success" uk-alert v-if="encryptsuccessmessage">
                            <p>{{encryptsuccessmessage}}</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-margin">
                    <div class="uk-container uk-container-small">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Filename</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Filename" v-model="getfile">
                            </div>
                        </div>
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-checkbox" type="checkbox" v-model="enableDecryption"> Decrypt</label>
                        </div>
                        <button class="uk-button uk-button-primary uk-button-large" @click="downloadAndDecryptFile">Download File</button>
                        <div class="uk-alert-danger" uk-alert v-if="decrypterrormessage">
                            <p>{{decrypterrormessage}}</p>
                        </div>
                        <div class="uk-alert-success" uk-alert v-if="decryptsuccessmessage">
                            <p>{{decryptsuccessmessage}}</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-margin">
                    <div class="uk-container uk-container-small">
                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary" type="button" @click="togglePresignedURL">Toggle Pre-signed URL</button>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">{{ presignedurltitle }} </label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="URL" v-model="urlforpresigneddemo">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <video ref="presignedurldemovideo" :src="urlforpresigneddemo" controls autoplay  width="640" height="480"/>
                        </div>
                        <div class="uk-alert-danger" uk-alert v-if="presignedurlerrormessage">
                            <p>{{presignedurlerrormessage}}</p>
                        </div>
                        <div class="uk-alert-success" uk-alert v-if="presignedurlsuccessmessage">
                            <p>{{presignedurlsuccessmessage}}</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-margin">
                    <div class="uk-container uk-container-small">
                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary" type="button" @click="toggleSignedURL">Toggle Signed URL</button>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">{{ signedurltitle }} </label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="URL" v-model="urlforsignedurldemo">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <video ref="signedurldemovideo" :src="urlforsignedurldemo" controls autoplay  width="640" height="480"/>
                        </div>
                        <div class="uk-alert-danger" uk-alert v-if="presignedurlerrormessage">
                            <p>{{signedurlerrormessage}}</p>
                        </div>
                        <div class="uk-alert-success" uk-alert v-if="presignedurlsuccessmessage">
                            <p>{{signedurlsuccessmessage}}</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-margin">
                    <div class="uk-container uk-container-small">
                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary" type="button" @click="toggleSignedCookie">Toggle Signed Cookie</button>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">{{ signedcookietitle }} </label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="URL" v-model="urlforsignedcookiedemo">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <video ref="signedcookiedemovideo" :src="urlforsignedcookiedemo" controls autoplay  width="640" height="480"/>
                        </div>
                        <div class="uk-alert-danger" uk-alert v-if="signedcookieerrormessage">
                            <p>{{signedcookieerrormessage}}</p>
                        </div>
                        <div class="uk-alert-success" uk-alert v-if="signedcookiesuccessmessage">
                            <p>{{signedcookiesuccessmessage}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="build/build.js"></script>
    <script src="js/uikit.min.js" defer></script>
    <script src="js/uikit-icons.min.js" defer></script>
</body>
</html>
